# VS Code
/.vscode

# LaTex temp file
/translation/*.log
/translation/*.synctex*
/translation/*.gz

# matlab
/matlab/data/*.mat
/matlab/dist/*

# cmd
/application/cmd/node_modules
/application/cmd/yarn.lock
/application/cmd/dist
/application/cmd/build
/application/cmd/test/dist
/application/cmd/package-lock.json