# VS Code
/.vscode

# LaTex temp file
/translation/*.log
/translation/*.synctex*
/translation/*.gz

# matlab
/matlab/data/*.mat
/matlab/dist/*
/matlab/program

# cmd
/cmd/node_modules
/cmd/yarn.lock
/cmd/dist
/cmd/build
/cmd/test/dist
/cmd/package-lock.json

# cpp
/cpp/.idea
/cpp/cmake-build-debug