# VS Code
/.vscode

# Matlab
/matlab/data/*.mat
/matlab/dist/*
/matlab/program
/matlab/lib

# Cpp Project
/cpp/.vs
/cpp/cmake-build-debug
/cpp/.idea
/cpp/CMakeFiles
/cpp/CMakeCache.txt
/cpp/build
/cpp/lib

# Web
/web/frontend/node_modules
/web/frontend/yarn.lock
/web/frontend/build
/web/backend/node_modules
/web/backend/build
/web/backend/public
/web/backend/yarn.lock
/web/backend/*.log